@{
    ViewData["Title"] = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
    <br />
    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-heading" id="pnlFlowHeader">Flow selection</div>
            <div class="panel-body">

                <ul class="nav nav-tabs" id="pnlFlowSelection">
                    <li class="active"><a data-toggle="tab" href="#New_Customer">New Customer</a></li>
                    <li><a data-toggle="tab" href="#Quickcheckout">Quickcheckout</a></li>
                    <li><a data-toggle="tab" href="#EC_Add_Channel">EC Add Channel</a></li>
                    <li><a data-toggle="tab" href="#EC_Add_Equipment">EC Add Equipment</a></li>
                    <li><a data-toggle="tab" href="#EC_Move_transfer">EC Move transfer</a></li>
                    <li><a data-toggle="tab" href="#EC_Move_Repackage">EC Move Repackage</a></li>
                </ul>

                <div class="tab-content" style="height:200px;padding:10px">
                    <div id="New_Customer" class="tab-pane fade in active">
                        <div class="panel panel-default" style="padding:0px">
                            <div class="panel-body" id="pnlTestData" style="padding:10px;background-color:ghostwhite">
                                @*<label>Select Test Data:</label>&nbsp;&nbsp;*@
                                <button type="button" id="btnSelectTestData" value="Select Test Data" class="btn btn-default">Click to Select Test Data</button>
                            </div>
                        </div>
                    </div>
                    <div id="Quickcheckout" class="tab-pane fade">
                        <h3>Quickcheckout</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="EC_Add_Channel" class="tab-pane fade">
                        <h3>EC Add Channel</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    <div id="EC_Add_Equipment" class="tab-pane fade">
                        <h3>EC Add Equipment</h3>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                    <div id="EC_Move_transfer" class="tab-pane fade">
                        <h3>EC Move transfer</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="EC_Move_Repackage" class="tab-pane fade">
                        <h3>EC Move Repackage</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="pnlTraceHeader" style="display:none">
            <div class="panel-heading">Transaction Message and warnings!</div>
            <div class="panel-body" style="height:300px" id="pnlTrace"></div>
        </div>
    </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


    <script>
        $(document).ready(function () {
            $("#btnSelectTestData").click(function () {
                $("#myModal").modal();
            });
        });
    </script>
</div>
